body {
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
    color: #000;
    line-height: 1.5em;
    margin: 0 auto;
    width: 60%;
}

html {
    font-family: 'Droid Serif', 'serif';
    font-weight: 300;
}

.header h1,
.header h2 {
    line-height: 1.2em;
}

.header h1,
.header h2,
.header p {
    margin: 0;
    text-align: right;
}

.header p {
    margin-top: 1em;
    font-size: 0.8em;
}

.header,
.section {
    border-bottom: 3px double #ccc;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

#links {
    float: left;
    position:absolute;
    top:1%;
    left:21%;
}

.fa-linkedin-square {
    color: #4875B4;
}

.fa-github {
    color: #000000;
}

.main,
.section:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

span > .summary {
    float: left;
}

.date-duration {
    float: right;
}

#employment .location {
    clear: both;
    margin: 1em 0;
    padding-top: 1em;
}

.description {
    border-top: 1px dotted #ccc;
    clear: both;
}

span {
    margin-left: 0;
}

.bold {
    font-weight: bold;
}

tr > td:first-child {
    font-weight: bold;
}

[href="http://microsoft.com"] {
    background-image: url('../img/microsoft.png');
    display: block;
    height: 43px;
    text-indent: -9999px;
    width: 200px;
}

[href="http://cam.ac.uk"] {
    background-image: url('../img/cambridge.png');
    display: block;
    height: 41px;
    text-indent: -9999px;
    width: 200px;
}

[href="http://larnegrammar.org.uk"] {
    background-image: url('../img/lgs.png');
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 200px;
}

[href="http://cisco.com"] {
    background-image: url('../img/cisco.png');
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 85px;
}

.latex sub, .latex sup {
    text-transform: uppercase;
}

.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.latex, .latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}