.fa {
    color: rgba(255, 255, 255, 0.5);
}

.fa:hover {
    color: rgba(255, 255, 255, 1);
}

.center-image {
    margin: 0 auto;
    display: block;
}

.fail {
    background-color: crimson!important;
    text-align: center;
}

.pass {
    background-color: lightgreen!important;
    text-align: center;
}

.grade-a {
    background-color: lightgreen!important;
}

.grade-b {
    background-color: orange!important;
}

.grade-c {
    background-color: yellow!important;
}

.grade-f {
    background-color: crimson!important;
}