<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="sidebar-head">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a></h1>
      </div>
      {{ with .Site.Params.tagline }}<p class="lead">{{ . | markdownify }}</p>{{ end }}
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></li>
      {{ range .Site.Menus.main }}
      <li class="sidebar-nav-item {{ if eq $.Permalink .URL }}active{{end}}">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
      {{ with .Site.Params.github }}<a href="{{ . }}"><i class="fa-brands fa-github-square fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.bluesky }}<a href="{{ . }}"><i class="fa-brands fa-square-bluesky fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.linkedin }}<a href="{{ . }}"><i class="fa-brands fa-linkedin fa-3x"></i></a>{{ end }}
      {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml"><i class="fa-solid fa-rss-square fa-3x"></i></a>{{ end }}
      </li>
    </ul>

    {{ if isset .Site.Params "flattr" }}
    <p><script id='flattr'>
      (function(id){
        var s = document.getElementById(id);
        var f = document.createElement('iframe');
        f.src = '//api.flattr.com/button/view/?uid={{ .Site.Params.flattr }}&button=compact&url={{ "/" | absURL }}&title={{ .Site.Title }}';
        f.title = 'Flattr';
        f.height = 20;
        f.width = 110;
        f.style.borderWidth = 0;
        s.parentNode.insertBefore(f, s);
      })('flattr');
    </script></p>
    {{ end }}

    {{ partial "sidebar/footer.html" . }}
  </div>
</div>
